<table>
  <caption>Test caption</caption>
  <thead>
  <tr>
    <th>Name</th>
    <th>Website</th>
    <th>Age</th>
  </tr>
  </thead>
  <tbody>
  <% contacts.each do |contact| %>
  <tr>
    <td><%= contact.name %></td>
    <td><%= contact.website %></td>
    <td><%= contact.age %></td>
  </tr>
  <% end %>
  </tbody>
  <tfoot>
  <tr>
    <td>footer stuff</td>
  </tr>
  </tfoot>
</table>